.Nav {
  justify-content: center;
  text-align: center;
  background-color: black;
  padding: 30px 170px 30px 170px;
  z-index: 1;
  position: relative;
}
.NavbarWrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.NavLogo {
  float: left;
  font-size: 25px;
  font-weight: 900;
  margin: -8px 2px 1px 15px;
  transition: 0.2s ease-in;
}
.NavElements {
  display: inline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 200;
  padding: 10px 20px 10px 20px;
}

.NavButton {
  float: right;
  background-color: rgb(70, 70, 123);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: -8px 2px 1px 2px;
}
.NavButton:hover {
  background-color: rgb(194, 9, 9);
  cursor: pointer;
}
.Link {
  text-decoration: none;
  color: rgb(245, 237, 237);
}
.Link:hover {
  cursor: pointer;
  color: #f4f2f4;
  border-radius: 20px;
  transition: 0.5ms;
}
.active {
  cursor: pointer;
  color: red;
  border-radius: 20px;
  transition: 0.5ms;
}
.Icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: rgb(7, 110, 147);
}
@media screen and (max-width: 925px) {
  .Nav {
    padding: 25px 0px 25px 20px;
  }
  .NavElements {
    display: none;
  }
  .NavButton {
    display: none;
  }
  .Icon {
    display: inline;
    position: relative;
    left: 35%;
  }
  .NavLogo {
    margin: 0;
    transition: 0.2s ease-in-out;
  }
}
